In [1]:
import pandas as pd 
import numpy as nm
import sys
import h5py

In [2]:
#import tables as HDF5

In [3]:
import hdf5_utils as HDF5
import hdf5_getters as g
#h5 = h5py.File('TRAXLZU12903D05F94.h5', 'r')

need pg module and MBrainzDB folder of Python source code if you
want to use musicbrainz related functions, e.g. fill_hdf5_from_musicbrainz

import tables as HDF5 - can be used instead of "import hdf5_getters as g" and "import hdf5_utils as HDF5"

In [4]:
filter(lambda x: x[:3] == 'get',HDF5.__dict__.keys())

In [5]:
import glob
files = glob.glob('/Users/vijayaadhithan/Desktop/MillionSongSubset/*/*/*/*.h5')

In [6]:
len(files)

10000

In [7]:
artist_names = []
artist_familiarity = []
artist_hotttnesss = []
artist_id = []
artist_latitude = []
artist_longitude = []
artist_location = []
song_id = []
%time
for f in files:
    
    h5 = h5py.File(f, 'r')
    
    artist_name = h5['metadata']['songs']['artist_name'][0].decode('utf-8')
    artist_familiar = h5['metadata']['songs']['artist_familiarity'][0]
    artist_hot = h5['metadata']['songs']['artist_hotttnesss'][0]
    artist_ids = h5['metadata']['songs']['artist_id'][0]
    artist_lat = h5['metadata']['songs']['artist_latitude'][0]
    artist_long = h5['metadata']['songs']['artist_longitude'][0]
    artist_loc = h5['metadata']['songs']['artist_location'][0].decode('utf-8')
    song_idss = h5['metadata']['songs']['song_id'][0].decode('utf-8')
    
    artist_names.append(artist_name)
    artist_familiarity.append(artist_familiar)
    artist_hotttnesss.append(artist_hot)
    artist_id.append(artist_ids)
    artist_latitude.append(artist_lat)
    artist_longitude.append(artist_long)
    artist_location.append(artist_loc)
    song_id.append(song_idss)
    
    h5.close()

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 9.06 µs

In [8]:
data_artist = {'song_id':song_id
        ,'artist_names':artist_names
        ,'artist_familiarty':artist_familiarity
        ,'artist_hotness':artist_hotttnesss
        ,'artist_latitude':artist_latitude
        ,'artist_longitude':artist_longitude
        ,'artist_location':artist_location
        ,'artist_id':artist_id
       }

In [9]:
artist_df=pd.DataFrame(data_artist)

In [10]:
len(artist_df)

10000

In [11]:
artist_df.head()

,song_id,artist_names,artist_familiarty,artist_hotness,artist_latitude,artist_longitude,artist_location,artist_id
0,SOGSMXL12A81C23D88,Raphaël,0.557460,0.386152,46.71067,1.71819,France,b'AREJXK41187B9A4ACC'
1,SOMBCOW12AAF3B229F,Julie Zenatti,0.626958,0.434860,NaN,NaN,,b'AR2XRFQ1187FB417FE'
2,SOEYIHF12AB017B5F4,The Baltimore Consort,0.425724,0.000000,NaN,NaN,,b'ARODOO01187FB44F4A'
3,SODJYEC12A8C13D757,I Hate Sally,0.611495,0.334520,NaN,NaN,,b'ARJGW911187FB586CA'
4,SOGSOUE12A58A76443,Orlando Pops Orchestra,0.367255,0.311616,NaN,NaN,,b'AR9HQ6Y1187FB3C2CB'

In [12]:
song_id = []
song_titles =[]
song_durations =[]
song_release_years =[]
song_hotness  =[]
track_id =[]
%time
for f in files:
    
    h5 = h5py.File(f, 'r')
    
    song_idss = h5['metadata']['songs']['song_id'][0].decode('utf-8')
    song_title = h5['metadata']['songs']['title'][0]
    song_duration = h5['analysis']['songs']['duration'][0]
    song_release_year = h5['musicbrainz']['songs']['year'][0]
    song_hot = h5['metadata']['songs']['song_hotttnesss'][0]
    track_idss = h5['analysis']['songs']['track_id'][0]
    
    song_id.append(song_idss)
    song_titles.append(song_title)
    song_durations.append(song_duration)
    song_release_years.append(song_release_year)
    song_hotness.append(song_hot)
    track_id.append(track_idss)
    
    h5.close()

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 8.82 µs

In [13]:
data_song = {'song_id':song_id
        ,'track_id':track_id
        ,'song_titles':song_titles
        ,'song_durations':song_durations
        ,'song_release_years':song_release_year
        ,'song_hotness':song_hotness
       }

In [14]:
song_df=pd.DataFrame(data_song)

In [15]:
len(song_df)

10000

In [16]:
song_df.head()

,song_id,track_id,song_titles,song_durations,song_release_years,song_hotness
0,SOGSMXL12A81C23D88,b'TRARRZU128F4253CA2',b'Je Sais Que La Terre Est Plate',148.74077,0,0.547953
1,SOMBCOW12AAF3B229F,b'TRARRJL128F92DED0E',b'On Efface',252.99546,0,0.475638
2,SOEYIHF12AB017B5F4,b'TRARRUZ128F9307C57',b'Howells Delight',78.02730,0,NaN
3,SODJYEC12A8C13D757,b'TRARRWA128F42A0195',b'Martha Served',163.63057,0,NaN
4,SOGSOUE12A58A76443,b'TRARRPG12903CD1DE9',b'Zip-A-Dee-Doo-Dah (Song of the South)',199.99302,0,NaN

In [17]:
song_tempo = []
song_bars =[]
song_beats = []
song_time_signatures =[]
song_tatum =[]
song_modes=[]
song_keys=[]
song_id = []

%time
for f in files:
    
    h5 = h5py.File(f, 'r')
    
    song_speed = h5['analysis']['songs']['tempo'][0]
    song_bar = h5['analysis']['bars_start'][()]
    song_beat = h5['analysis']['beats_start'][()]
    song_time_signature = h5['analysis']['songs']['time_signature'][0]
    song_tat = h5['analysis']['tatums_start'][()]
    song_mode = h5['analysis']['songs']['mode'][0]
    song_key = h5['analysis']['songs']['key'][0]
    song_idss = h5['metadata']['songs']['song_id'][0].decode('utf-8')
    
    song_tempo.append(song_speed)
    song_bars.append(song_bar)
    song_beats.append(song_beat)
    song_time_signatures.append(song_time_signature)
    song_tatum.append(song_tat)
    song_modes.append(song_mode)
    song_keys.append(song_key)
    song_id.append(song_idss)
    
    h5.close()

CPU times: user 5 µs, sys: 3 µs, total: 8 µs
Wall time: 12.9 µs

In [18]:
data_song_more = {'song_id':song_id
        ,'song_tempo':song_tempo
        ,'song_bars':song_bars
        ,'song_beats':song_beats
        ,'song_time_signatures':song_time_signatures
        ,'song_tatum':song_tatum
        ,'song_modes':song_modes
        ,'song_keys':song_keys
       }

In [19]:
song_more_df=pd.DataFrame(data_song_more)

In [20]:
len(song_more_df)

10000

In [21]:
song_more_df.head()

,song_id,song_tempo,song_bars,song_beats,song_time_signatures,song_tatum,song_modes,song_keys
0,SOGSMXL12A81C23D88,124.059,"[0.52458, 2.4444, 4.3658, 6.30006, 8.22086, 10...","[0.04257, 0.52458, 1.00659, 1.48632, 1.96605, ...",4,"[0.04257, 0.28357, 0.52458, 0.76558, 1.00659, ...",1,0
1,SOMBCOW12AAF3B229F,80.084,"[8.69527, 12.01758, 14.81363, 20.09003, 22.693...","[0.59161, 1.33555, 2.07949, 2.82093, 3.56238, ...",4,"[0.59161, 0.84042, 1.08799, 1.33555, 1.58436, ...",0,1
2,SOEYIHF12AB017B5F4,54.874,"[1.95344, 6.35701, 10.70579, 15.07913, 19.4832...","[1.95344, 3.0622, 4.16548, 5.26467, 6.35701, 7...",4,"[1.11537, 1.39701, 1.67864, 1.95344, 2.23097, ...",1,3
3,SODJYEC12A8C13D757,77.150,"[0.39309, 2.75109, 5.13649, 7.52978, 9.95582, ...","[0.39309, 1.17222, 1.95902, 2.75109, 3.55236, ...",3,"[0.11929, 0.39309, 0.65603, 0.91083, 1.17222, ...",1,7
4,SOGSOUE12A58A76443,120.382,"[0.99301, 2.99441, 4.96889, 6.9402, 8.92127, 1...","[0.49266, 0.99301, 1.49336, 1.99371, 2.49406, ...",4,"[0.24248, 0.49266, 0.74283, 0.99301, 1.24318, ...",1,10

In [22]:
all_song_df = song_df.merge(song_more_df, on='song_id')

In [23]:
len(all_song_df)

10000

In [24]:
all_song_df.head()

,song_id,track_id,song_titles,song_durations,song_release_years,song_hotness,song_tempo,song_bars,song_beats,song_time_signatures,song_tatum,song_modes,song_keys
0,SOGSMXL12A81C23D88,b'TRARRZU128F4253CA2',b'Je Sais Que La Terre Est Plate',148.74077,0,0.547953,124.059,"[0.52458, 2.4444, 4.3658, 6.30006, 8.22086, 10...","[0.04257, 0.52458, 1.00659, 1.48632, 1.96605, ...",4,"[0.04257, 0.28357, 0.52458, 0.76558, 1.00659, ...",1,0
1,SOMBCOW12AAF3B229F,b'TRARRJL128F92DED0E',b'On Efface',252.99546,0,0.475638,80.084,"[8.69527, 12.01758, 14.81363, 20.09003, 22.693...","[0.59161, 1.33555, 2.07949, 2.82093, 3.56238, ...",4,"[0.59161, 0.84042, 1.08799, 1.33555, 1.58436, ...",0,1
2,SOEYIHF12AB017B5F4,b'TRARRUZ128F9307C57',b'Howells Delight',78.02730,0,NaN,54.874,"[1.95344, 6.35701, 10.70579, 15.07913, 19.4832...","[1.95344, 3.0622, 4.16548, 5.26467, 6.35701, 7...",4,"[1.11537, 1.39701, 1.67864, 1.95344, 2.23097, ...",1,3
3,SODJYEC12A8C13D757,b'TRARRWA128F42A0195',b'Martha Served',163.63057,0,NaN,77.150,"[0.39309, 2.75109, 5.13649, 7.52978, 9.95582, ...","[0.39309, 1.17222, 1.95902, 2.75109, 3.55236, ...",3,"[0.11929, 0.39309, 0.65603, 0.91083, 1.17222, ...",1,7
4,SOGSOUE12A58A76443,b'TRARRPG12903CD1DE9',b'Zip-A-Dee-Doo-Dah (Song of the South)',199.99302,0,NaN,120.382,"[0.99301, 2.99441, 4.96889, 6.9402, 8.92127, 1...","[0.49266, 0.99301, 1.49336, 1.99371, 2.49406, ...",4,"[0.24248, 0.49266, 0.74283, 0.99301, 1.24318, ...",1,10

In [25]:
data = artist_df.merge(all_song_df, on='song_id')

In [26]:
len(data)

10000

In [27]:
data.head()

,song_id,artist_names,artist_familiarty,artist_hotness,artist_latitude,artist_longitude,artist_location,artist_id,track_id,song_titles,song_durations,song_release_years,song_hotness,song_tempo,song_bars,song_beats,song_time_signatures,song_tatum,song_modes,song_keys
0,SOGSMXL12A81C23D88,Raphaël,0.557460,0.386152,46.71067,1.71819,France,b'AREJXK41187B9A4ACC',b'TRARRZU128F4253CA2',b'Je Sais Que La Terre Est Plate',148.74077,0,0.547953,124.059,"[0.52458, 2.4444, 4.3658, 6.30006, 8.22086, 10...","[0.04257, 0.52458, 1.00659, 1.48632, 1.96605, ...",4,"[0.04257, 0.28357, 0.52458, 0.76558, 1.00659, ...",1,0
1,SOMBCOW12AAF3B229F,Julie Zenatti,0.626958,0.434860,NaN,NaN,,b'AR2XRFQ1187FB417FE',b'TRARRJL128F92DED0E',b'On Efface',252.99546,0,0.475638,80.084,"[8.69527, 12.01758, 14.81363, 20.09003, 22.693...","[0.59161, 1.33555, 2.07949, 2.82093, 3.56238, ...",4,"[0.59161, 0.84042, 1.08799, 1.33555, 1.58436, ...",0,1
2,SOEYIHF12AB017B5F4,The Baltimore Consort,0.425724,0.000000,NaN,NaN,,b'ARODOO01187FB44F4A',b'TRARRUZ128F9307C57',b'Howells Delight',78.02730,0,NaN,54.874,"[1.95344, 6.35701, 10.70579, 15.07913, 19.4832...","[1.95344, 3.0622, 4.16548, 5.26467, 6.35701, 7...",4,"[1.11537, 1.39701, 1.67864, 1.95344, 2.23097, ...",1,3
3,SODJYEC12A8C13D757,I Hate Sally,0.611495,0.334520,NaN,NaN,,b'ARJGW911187FB586CA',b'TRARRWA128F42A0195',b'Martha Served',163.63057,0,NaN,77.150,"[0.39309, 2.75109, 5.13649, 7.52978, 9.95582, ...","[0.39309, 1.17222, 1.95902, 2.75109, 3.55236, ...",3,"[0.11929, 0.39309, 0.65603, 0.91083, 1.17222, ...",1,7
4,SOGSOUE12A58A76443,Orlando Pops Orchestra,0.367255,0.311616,NaN,NaN,,b'AR9HQ6Y1187FB3C2CB',b'TRARRPG12903CD1DE9',b'Zip-A-Dee-Doo-Dah (Song of the South)',199.99302,0,NaN,120.382,"[0.99301, 2.99441, 4.96889, 6.9402, 8.92127, 1...","[0.49266, 0.99301, 1.49336, 1.99371, 2.49406, ...",4,"[0.24248, 0.49266, 0.74283, 0.99301, 1.24318, ...",1,10

In [28]:
#data.to_csv('hdf5.csv', sep=',')